//* Root cores *\\
:root {
    --white-default: #fbfbfb;
    --white-strong: #eeeeee;
    --black-default: #1e1e1e;

    --gray-soft: #cbcbcb;
    --gray-medium: #a5a5a5;
    --gray-strong: #8a8a8a;

    --color-button: #5AADAA;
    --color-button-hover: #5aadaac2;

    --gpc-blue-strong: #36A2FD;
    --gpc-blue-medium: #64D0FB;
    --gpc-blue-soft: #88E4F8;
    --gpc-green: #73CA84;
    --gpc-yellow: #EDE734;
    --gpc-orange: #F1A60A;
    --gpc-red-medium: #E55001;
    --gpc-red-strong: #c3310c;
}